
body{
    margin:0px;
    padding:0px;
}

h1{
  text-align:center;
}

.title{
   margin:10%;
}

#title{
    background:#0c0c0c;
    color:#fff;
    margin:0px;
    padding:2%;
}

.form-go{
    width:90%;
    margin:auto;
    text-align:center;
}

input,button{
    height:50px;
    margin:2px;
    font: sans-serif bold 30px;
}
button{
    width:auto;
    background: #020202;
    color:#fff;
    border:none;
}

#filhos{
    padding:1%;
    margin:0px;
    width:10%;
    height:100%;
    background: #aaaaaa;
    float:left;
}

#pai{
    width:80%;
    float:left;
}

#filhos ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}

#filhos li { 
    padding-left: 16px; 
}

#filhos li a {
    text-decoration: none;
}



#lista ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
    width: 500px;
    background:#d1a926;
}

#lista li { 
    padding-left: 16px; 
}

#lista li a {
    
    text-decoration: none;

}


.delete {
    background:red;
    color:white;
    width:auto;
    height:auto;
}

