
body{
    margin:0px;
    padding:0px;
}

h1{
  text-align:center;
}

.title{
   margin:10%;
}

#title{
    background:#0c0c0c;
    color:#fff;
    margin:0px;
    padding:2%;
}

.form-go{
    width:90%;
    margin:auto;
    text-align:center;
}

input,button{
    height:50px;
    margin:2px;
    font: sans-serif bold 30px;
}
button{
    width:auto;
    background: #020202;
    color:#fff;
    border:none;
}

#filhos{
    padding-right:8%;
    margin:0;
    width:10%;
    height:100%;
    background: #aaaaaa;
    float:left;
}

#pai{
    width:80%;
   
}

#filhos ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
    float:left;
    text-align: left;
}

#filhos li { 
    padding-left: 16px;
}

#filhos li a {
    text-decoration: none;
    float: left;
    padding: 5%;
}



#lista ul {
    list-style: none; /* Remove list bullets */
    padding: 5%;
    margin: 10px;
    background:#16a2f3;
    width: 150px;
    min-height: 200px;
    float:left;
}

#lista li { 
    margin:5px;
    padding:8px;
    background: #251a8a;
    color:#fff;
}

#lista li a {
    
    text-decoration: none;

}


#lista li button{
    float:left;
}





#listaFinalizados ul {
    list-style: none; /* Remove list bullets */
    padding: 5%;
    margin: 10px;
    background:#8fe7ca;
    width: 150px;
    min-height: 200px;
    float:left;
}

#listaFinalizados li { 
    margin:5px;
    padding:8px;
    background: #251a8a;
    color:#fff;
}

#listaFinalizados li a {
    
    text-decoration: none;

}


#listaFinalizados li button{
    float:left;
}



.delete {
    background:red;
    color:white;
    width:auto;
    height:auto;
}



.delete {
    background:red;
    color:white;
    width:auto;
    height:auto;
}

