
body{
    margin:0px;
    padding:0px;
}

h1{
  text-align:center;
  color: #251a8a;
}

.title{
   margin:10%;
}

#title{
    background:#251a8a;
    color:#fff;
    margin:0px;
    padding:2%;
}

.form-go{
    width:90%;
    margin:auto;
    text-align:center;
}

input,button{
    height:50px;
    margin:2px;
    font-size:20px;

}
button{
    width:auto;
    background: #251a8a;
    color:#fff;
    border:none;
}

#filhos{
    padding-right:8%;
    margin:0;
    width:10%;
    height:100%;
    background: #83808041;
    float:left;
}

#pai{
    width:80%;
   
}

#filhos ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
    text-align: left;
}

#filhos li { 
    font-size:15px;
    
}

#filhos li a {
    text-decoration: none;
    color:#251a8a;
    padding: 8px 16px;
    text-decoration: none;
    font-size:20px;
    display: block;
}

#filhos li a:hover {

    color:red;
  
    
}



#lista ul {
    list-style: none; /* Remove list bullets */
    padding: 3%;
    margin: 10px;
    background:#16a2f3;
    width: 30%;
    min-height: 200px;
    float:left;
}

#lista li { 
    margin:5px;
    padding:8px;
    background: #251a8a;
    color:#fff;
}

#lista li a {
    
    text-decoration: none;

}






#listaFinalizados ul {
    list-style: none; /* Remove list bullets */
    padding: 3%;
    margin: 10px;
    background:#8fe7ca;
    width: 30%;
    min-height: 200px;
    float:left;
}

#listaFinalizados li { 
    margin:5px;
    padding:8px;
    background: #251a8a;
}

.inputlista {
   background:#251a8a;
   color:#fff;
   width:80%;
   border:none;

}

#listaFinalizados li a {
    
    text-decoration: none;

}

.delete {
    background:red;
    color:white;
    height:auto;
    float:right;
    width:25px;
    height:25px;
    border-radius:40px;
}


form{
    margin:15px;
    text-align:center;
}





@media only screen and (max-width:700px) {


    #filhos{
        width:100%;
        height:auto;
        float:left;
        margin-bottom: 10px;
    }
    

    #filhos li a{
        display: inline-block;
        font-size:15px;
    }
    
    #lista ul {
        width: 85%;
        margin-left:15%;
    }


    #listaFinalizados ul {
        width: 85%;
        margin-left:15%;
       
    }
    
    

    
    
}